.Vscode
.vscode
__pycache__/

# operating system-related files
*.DS_Store #file properties cache/storage on macOS

main.py
.env
.ENV
projects_list.xls
orgusers_list.xls
project_11718_timeline.xls
dist/
ooti_api.egg-info/
ooti/.DS_Store
.DS_Store
.DS_Store
.DS_Store
ooti/.DS_Store
