.Vscode
.vscode
__pycache__/
.flake8
.setup.cfg

# operating system-related files

#file properties cache/storage on macOS
*.DS_Store 

main.py
.env
.ENV
projects_list.xls
orgusers_list.xls
project_11718_timeline.xls
dist/
ooti_api.egg-info/
ooti/.DS_Store
.DS_Store
.DS_Store
.DS_Store
ooti/.DS_Store
